* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;

    font-style: normal;
}

/* HEADER */


nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;
    width: 100%;

}

a {
    text-decoration: none;
    color: #000;
}

.link a {
    margin-right: 10px;

}

button {
    padding: 10px;
    margin: 10px;
    color: black;
    border-style: none;
    font-size: 0.9rem;
    cursor: pointer;

}

.btn-white {
    background-color: #fff;
}

.btn-blue {
    background-color: #3B82F6;
    color: #fff;
}

/* Jumbo */
.jumbotron {
    height: 500px;
    background-color: #b4d0e6;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;

}

.card {
    margin-top: 50px;
    display: flex;
    width: 80%;
}

.card-text {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 20%;
    border-style: none;

}

.jumbo-img {
    width: 80%;
}

.jumbo {
    width: 130%;
}

/*DEBUG*/



.card-grey {
    background-color: grey;
}

.card-blue {
    background-color: blue;
    width: 30%;
    border: 1px dashed black;
    height: 80%;
}

.card-red {
    background-color: red;
    width: 70%;
    border: 1px dashed black;
    height: 80%;
}

/* BUSINESS PLAN */
.business-plan {
    text-align: center;
    margin: 0, auto;
}

label {
    margin-top: 20%;
}

.columns {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: 1px solid grey;
    gap: 25px;
    margin-bottom: 10%;
}

.col {
    width: calc(100% / 4);
    border: 1px solid black;
    gap: 10px;
}

p {
    border-bottom: 1px solid grey;
}

.plan-list, .plan-highlights {
    text-align: left;
    list-style: none;
    padding: 20px 10px;
    margin: 10px;
}

li{
    margin-top: 10px;
}
.grey-text{
    color: grey;
}


.bottom-col {
    border: 1px solid black;
    min-height: 60px;
    width: 80%;
    margin: 0 auto;
}

/* DROP BOX PARTNER */

.drop-box-partner {
    height: 500px;
    display: flex;
    justify-content: center;
}

.business-card {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin-top: 5%;
}

/* DROP BOX BUSINESS  */
.card-business {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 200px;
}

.card-grey {
    width: calc(100% / 3 - (20px / 3));
}